# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF5340_CPUAPP_QKAA

config BOARD_DEVACADEMY_NRF5340
	bool "DevAcademy nRF5340"

config BOARD_DEVACADEMY_NRF5340_NS
	bool "DevAcademy nRF5340 non-secure"

endif # SOC_NRF5340_CPUAPP_QKAA
