# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_DEVACADEMYNS_NRF5340

config BOARD
	default "devacademyns_nrf5340"


#Build with TF-M as the Secure Execution Environment
config BUILD_WITH_TFM
	default y
endif
